<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577328293988-g6kkb8os7vi5t159t4kl52h9agbmglj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577328293988-g6kkb8os7vi5t159t4kl52h9agbmglj7</string>
	<key>API_KEY</key>
	<string>AIzaSyBwccCCY5EBdTCviYDEx_AmYT6kWy4UkYY</string>
	<key>GCM_SENDER_ID</key>
	<string>577328293988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.huzz</string>
	<key>PROJECT_ID</key>
	<string>huzz-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>huzz-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577328293988:ios:809097a62788ab84845771</string>
</dict>
</plist>